@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(255, 255, 255);
  }
}

html,
body {
  background-color: #FFFFFF;
}




.bg-technology {
  background-image: url("../public/tech-banner.jpg");
  background-attachment: fixed;
  background-position: center;
  object-position: center;
}
.bg-about {
  background-image: url("../public/learn.jpeg");
  background-attachment: fixed;
  background-position: center;
    object-position: center;
}
.rounded-image{
 border-radius: 80px 0px 80px 0px;
}

.bg-service1 {
  background-image: url("../public/header-bg\ copy.jpg");
  background-attachment: fixed;
  background-position: center;
    object-position: center;
}
.bg-service {
  background-image: url("../public/learn.jpeg");
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
    object-position: center;
  
}

